/* Tweestmap LESS css file - By Chris Finch
============================================ */
/* Map (Needed for fullscreen gmaps)
============================================ */
html {
  height: 100%;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#mapContainer {
  width: 100%;
  height: 100%;
}
/* Info Box
============================================ */
.info {
  background-color: #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707070), color-stop(0.51, #5e5e5e), color-stop(0.52, #393939));
  background: -moz-linear-gradient(center top, #707070 0%, #5e5e5e 51%, #393939 52%);
}
.infotext {
  color: #fff;
  font-family: Monaco, Helvetica Neue, Helvetica, arial;
  font-size: 12px;
  line-height: 24px;
  padding: 4px;
  font-weight: normal;
  white-space: nowrap;
}
/* Sidebar
============================================ */
#tweets {
  position: absolute;
  height: 100%;
  width: 380px;
  right: -380px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: 1px solid #fff;
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#handle {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 18px;
  left: -158px;
  line-height: 18px;
  padding: 18px;
  position: absolute;
  top: 36px;
  width: 102px;
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
}
#tweetsList {
  display: block;
  padding: 6px;
  overflow: hidden;
  width: 368px;
  height: 100%;
}
#tweetsList li {
  display: block;
  position: relative;
  padding: 0 0 12px 56px;
  overflow: hidden;
  height: 76px;
}
#tweetsList li .icon {
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
}
#tweetsList li div.title {
  width: 100%;
  display: inline;
}
#tweetsList li div.title a {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
  display: block;
  padding: 0 0 4px 0;
}
#tweetsList li div.title span.from {
  display: block;
}
#tweetsList li span {
  display: block;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #fff;
}
#tweetsList li span.text {
  width: 100%;
  line-height: 14px;
  padding: 4px 0;
  word-wrap: break-word;
}
#tweetsList li span.date {
  height: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* Search Term Form
============================================ */
#termForm {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 34px;
  left: 18px;
  line-height: 18px;
  padding: 18px;
  position: absolute;
  bottom: 18px;
  width: auto;
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
}
#termForm #searchTerm {
  background-color: #fff;
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  border: 1px solid #e2e2e2;
  -moz-box-shadow: 0 0 6px 2px #fff, 0 0 4px 1px #aaa inset;
  -webkit-box-shadow: 0 0 6px 2px #fff, 0 0 4px 1px #aaa inset;
  box-shadow: 0 0 6px 2px #fff, 0 0 4px 1px #aaa inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 0 0 12px;
  width: 200px;
  font-weight: bold;
  font-style: italic;
  float: left;
}
#termForm #submit {
  background-color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  width: auto;
  float: left;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 0 0 12px;
  -moz-box-shadow: 0 0 6px 2px #fff, 0 0 4px 1px #aaa inset;
  -webkit-box-shadow: 0 0 6px 2px #fff, 0 0 4px 1px #aaa inset;
  box-shadow: 0 0 6px 2px #fff, 0 0 4px 1px #aaa inset;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-appearance: none;
}
#termForm #submit:hover {
  background: #fff;
  color: #000;
}
/* Popup message box
============================================ */
#popup {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 18px;
  left: 50%;
  margin: -27px 0 0 -168px;
  line-height: 18px;
  padding: 18px;
  position: absolute;
  top: 50%;
  width: 300px;
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
/* Stats box
============================================ */
#stats {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 64px;
  left: 18px;
  line-height: 18px;
  padding: 18px;
  position: absolute;
  bottom: 106px;
  width: auto;
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
}
#stats .stat {
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  float: left;
  clear: both;
}
